{% load i18n admin_urls %}
<div class="submit-row">
<!--
{% if show_save %}<input type="submit" value="{% trans 'Save' %}" class="default" name="_save" />{% endif %}
-->

<input type="button" value="Close" id="smartClose" class="default" onclick="javascript:window.close()" />
<script type="text/javascript">
if(window.opener === null){
	document.getElementById("smartClose").style.visibility='hidden';
}
</script>

{% if show_delete_link %}
    {% url opts|admin_urlname:'delete' original.pk|admin_urlquote as delete_url %}
    <p class="deletelink-box"><a href="{% add_preserved_filters delete_url %}" class="deletelink">{% trans "Delete" %}</a></p>
{% endif %}
{% if show_save_as_new %}<input type="submit" value="{% trans 'Save as new' %}" name="_saveasnew" />{% endif %}
{% if show_save_and_add_another %}<input type="submit" value="{% trans 'Save and add another' %}" name="_addanother" />{% endif %}
<!--
{% if show_save_and_continue %}<input type="submit" value="{% trans 'Save and continue editing' %}" name="_continue" />{% endif %}
-->
{% if show_save_and_continue %}<input type="submit" class="default" value="Save" name="_continue" />{% endif %}

</div>
<script type="text/javascript">
var hstr = gup('h');
if(hstr!==null){
  var harr = hstr.split(",");
  for(var i=0; i<harr.length;i++){
      id = "id_"+harr[i];
      document.getElementById(id).disabled = true;
  }  
}

var s = gup('s');
if(s==1){
    document.getElementsByClassName("breadcrumbs")[0].style.visibility='hidden';
    document.getElementById("header").style.visibility='hidden';
    document.getElementsByClassName("historylink")[0].style.visibility='hidden';   
}

function gup( name, url ) {
  if (!url) url = location.href;
  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
  var regexS = "[\\?&]"+name+"=([^&#]*)";
  var regex = new RegExp( regexS );
  var results = regex.exec( url );
  return results == null ? null : results[1];
}
</script>