{% load staticfiles %}
{% load simple_tags %}

<!DOCTYPE html>
<html>
<head><title>Web-based STEPL</title><meta charset="UTF-8"></head>
<body onLoad="BMP_LDC();"><br>
<div style="text-align:center"><img src="{% static "STEPL_WEB_title.jpg" %}" style="width:400px" alt=""></div><br>
<div style="text-align:center; width:900px; margin: 0 auto; text-align:left;">STEPL WEB has two sources of nutrient loads (N, P, and BOD). The first source is the nutrient loads from landuses, which are computed by pollutant coefficients and annual direct runoff and shallow groundwater contribution. The second source is nutrient loads in sediment, which are computed by soil nutrient concentrations and sediment load. <br><br> Therefore, CNs and soil infiltration fractions should be calibrated for annual direct runoff and annual shallow groundwater so that nutrient loads are correctly computed. Since sediment load is computed by USLE and SDR, the SDR can be calibrated for sediment load.  Pollutant coefficients also need to be calibrated for nutrient loads.</div><br><br>
<hr>
<table style="width:900px; border:0; margin: 0 auto; text-align=left;">
  <tr>
    <td style="text-align:left; vertical-align:top; padding:5px;">
      <span style="color:tomato; font-family:Times New Roman; font-size:1.5em;">Options:</span>
    </td>
   <td style="text-align:left; vertical-align: top; padding:5px "> 
    <input type=button style='width:200;height:30;cursor:hand' value='Auto-Calibration' onClick="javascript:window.open('./caloptStep1');">
   </td> 
   <td style="padding:5px">
    <a href="https://engineering.purdue.edu/mapserve/ldc/STEPL/P.4.5.html" onclick="window.open(this.href, 'targetwindow', 'status=no,toolbar=no,width=600px,height=400px'); return false;">How does Calibration work?</a><br> 
    <span style="color:red; font-style:italic;"> *User must provide Annual Runoff, Annual Baseflow, and Annual load of one or more NPS contaminents. </span><br>
    <span>&nbsp;</span>
   </td>
  </tr>
 <tr>
  <td></td>
  <td style="text-align:left; vertical-align: top; padding:5px;"> 
  <input type=button style='width:200;height:30;cursor:hand' value='BMP Optimization' onClick="javascript:window.open('./multiBmpStep1');">  
  </td>
  <td  style="padding:5px">
  Purdue STEPL WEB establishes a priority list of BMPs based on implementation cost per mass of pollutant reduction, and then the model performs iterative simulations to identify the most cost-effective BMP implementation plans. The model can import BMP scenarios from the Purdue Load Duration Curve Tool [https://engineering.purdue.edu/mapserve/ldc/] in order to focus on BMPs that are appropriate to address problems in a specific flow regime.
  <br><br>Purdue STEPL WEB estimates BMP implementation cost based on establishment, maintenance, and opportunity costs using a cost function (equation 5.12; Arabi et al., 2006). The model computes the costs per unit of pollutant mass reduction for BMPs and establishes a priority list of BMPs to apply based on the cost per unit mass of pollutant reduction. 
  <br><br><span>c<sub>t</sub> = c<sub>0</sub> &middot; (1 + s)<sup>td</sup> + c<sub>0</sub>   &middot; rm  &middot; [&sum;<sup style="">N</sup><sub style="position: relative; left: -0.6em;">i=2</sub> (1 + s)<sup>(i - 1)</sup>] <span style="float:right">Eq. 5.12</span>
  <br>Where, c<sub>t</sub> is BMP implementation cost, c<sub>0</sub> is establishment cost, rm is ratio of annual maintenance cost to establishment cost, s is interest rate, and td is BMP design life.
  <br><br>Since estimated annual cost of BMP implementation in a watershed is computed by BMP cost per unit area and applied area of BMP (AREABMP), both BMP cost and AREABMP need to be considered when identifying the most cost-effective BMP implementation. In other words, the BMP with least cost per unit mass reduction (i.e. dollars per ton of reduction) needs to be identified and applied, and then AREABMP needs to be minimized as long as the estimated reduction meets the required reduction. In addition, use of a BMP on 100% of landuse area may not be possible. For instance, it may not be possible to apply a BMP to 90% of cropland, if the BMP is already applied on 30% of cropland. In this circumstance, the BMP could only be applied to a maximum of 70% of cropland area.
</td>
</tr>
</table>

<p style="text-align:center;"> <a target="_blank" href="http://docs.lib.purdue.edu/dissertations/AAI3636487/">Park Thesis</a> | <a target="_blank" href="https://engineering.purdue.edu/mapserve/ldc/STEPL/referenceList.html">References</a> </p>
<hr>

<form name=bmpMain method="POST" action="./runStep1" target="new1">
  {% csrf_token %}

<table style="width:900px; border:0; margin:0 auto">
  <tr>
    <td style="text-align:left"><span style="font-weight:bold; color:tomato; font-size:1.5em; font-family:Times New Roman">Set BMPs</span>
    <span style=" text-align:left; font-size:0.82em; color:red;" >&nbsp;&nbsp;*BMP for at least ONE Landuse must be selected.</span> </td> 
  </tr>
</table>


<!--Cropland -->
  <table border=1 style="width:870px; margin:0 auto">
    <tr>
      <td style="text-align:center" colspan=8><div style="color:blue;">BMPs and efficiencies for different pollutants on <span style="font-weight:bold">CROPLAND</span></div></td>
    </tr>
    <tr>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Watershed</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Avaliable Area</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">BMPs</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">% Area BMP Applied</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">N</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">P</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">BOD</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Sediment</td>
    </tr>

    {% for wsd in ctx.rangeWSD %}
    <tr>
      <td style="text-align:center;"> W{{wsd}} </td>
      <td style="text-align:center;"> {{ctx.WatershedLandUse|get:wsd|get:'Cropland'}} </td>
      <!-- 1 is for cropland, 5 WAS for the 5th element of the line-->
      <td style="text-align:center;"><select name= BMP_1_{{wsd|twonum}}5  onChange=" CropBMP_{{wsd|twonum}}(); ">
                     <option value=0>Select
                     <option value=1 {% if ctx.WatershedLandUse|get:wsd|get:'Cropland'|eq0 %} selected="selected"{% endif %} >No BMP
                     <option value=2>Combined BMPs-Calculated
                     <option value=3>Contour Farming
                     <option value=4>Diversion
                     <option value=5>Filter strip
                     <option value=6>Reduced Tillage Systems
                     <option value=7>Streambank stabilization and fencing
                     <option value=8>Terrace
                   </select>
      </td>
    <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=10  name=BMP_1_{{wsd|twonum}}6  value=100.0  onChange=" CropBMP_{{wsd|twonum}}(); "></td>
      </td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_1_{{wsd|twonum}}1  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_1_{{wsd|twonum}}2  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_1_{{wsd|twonum}}3  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_1_{{wsd|twonum}}4  value=0.0></td>
    </tr>
  {% endfor %}  
</table><br>

<!--Pastureland -->
  <table border=1 style="width:870px; margin: 0 auto">
    <tr>
      <td style="text-align:center;" colspan=8><div style="color:blue;">BMPs and efficiencies for different pollutants on <span style="font-weight:bold">PASTLAND</span></div></td>
    </tr>
    <tr>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Watershed</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Avaliable Area</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">BMPs</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">% Area BMP Applied</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">N</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">P</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">BOD</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Sediment</td>
    </tr>

 {% for wsd in ctx.rangeWSD %}   
<tr>
  <td style="text-align:center;"> W{{wsd}} </td>
      <td style="text-align:center;"> {{ctx.WatershedLandUse|get:wsd|get:'Pastureland'}} </td>
  <td style="text-align:center;"><select name= BMP_2_{{wsd|twonum}}5  onChange=" PastBMP_{{wsd|twonum}}(); ">
                     <option value=0>Select
                     <option value=1 {% if ctx.WatershedLandUse|get:wsd|get:'Pastureland'|eq0 %} selected="selected"{% endif %} >No BMP
                     <option value=2>Combined BMPs-Calculated
                     <option value=3>User
                   </select>
  </td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=10 name= BMP_2_{{wsd|twonum}}6  value=100.0  onChange=" PastBMP_{{wsd|twonum}}(); "></td>
  </td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_2_{{wsd|twonum}}1  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_2_{{wsd|twonum}}2  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_2_{{wsd|twonum}}3  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_2_{{wsd|twonum}}4  value=0.0></td>
</tr>
{% endfor %}  
 </table><br>

<!--Forest -->
  <table border=1 style="width:870px; margin:0 auto">
    <tr>
      <td style="text-align:center;" colspan=8><div style="color:blue;">BMPs and efficiencies for different pollutants on <span style="font-weight:bold">FOREST</span></div></td>
    </tr>
    <tr>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Watershed</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Avaliable Area</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">BMPs</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">% Area BMP Applied</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">N</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">P</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">BOD</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Sediment</td>
    </tr>
  {% for wsd in ctx.rangeWSD %} 
<tr>
  <td style="text-align:center;"> W{{wsd}} </td>
      <td style="text-align:center;"> {{ctx.WatershedLandUse|get:wsd|get:'Forest'}} </td>
  <td style="text-align:center;"><select name= BMP_3_{{wsd|twonum}}5  onChange=" FrstBMP_{{wsd|twonum}}(); ">
                     <option value=0>Select
                     <option value=1 {% if ctx.WatershedLandUse|get:wsd|get:'Forest'|eq0 %} selected="selected"{% endif %}>No BMP
                     <option value=2>Combined BMPs-Calculated
                     <option value=3>Road dry seeding
                     <option value=4>Road grass and legume seeding
                     <option value=5>Road grass and legume seeding-New
                     <option value=6>Road hydro mulch
                     <option value=7>Road straw mulch
                     <option value=8>Road tree planting
                     <option value=9>Site preparation/hydro mulch/seed/fertilizer
                     <option value=10>Site preparation/hydro mulch/seed/fertilizer/transplants
                     <option value=11>Site preparation/steep slope seeder/transplant
                     <option value=12>Site preparation/straw/crimp seed/fertilizer/transplant
                     <option value=13>Site preparation/straw/crimp/net
                     <option value=14>Site preparation/straw/net/seed/fertilizer/transplant
                     <option value=15>Site preparation/straw/polymer/seed/fertilizer/transplant
                   </select>
  </td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=10 name= BMP_3_{{wsd|twonum}}6  value=100.0  onChange=" FrstBMP_{{wsd|twonum}}(); "></td>
  </td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_3_{{wsd|twonum}}1  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_3_{{wsd|twonum}}2  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_3_{{wsd|twonum}}3  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_3_{{wsd|twonum}}4  value=0.0></td>
</tr>
{% endfor %}  
</table><br>

<!--User defined -->
  <table border=1 style="width:870px; margin: 0 auto">
    <tr>
      <td style="text-align:center;" colspan=8><div style="color:blue;">BMPs and efficiencies for different pollutants on <span style="font-weight:bold">USER DEFINED</span></div></td>
    </tr>
    <tr>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Watershed</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Avaliable Area</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">BMPs</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">% Area BMP Applied</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">N</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">P</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">BOD</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Sediment</td>
    </tr>
{% for wsd in ctx.rangeWSD %}     
<tr>
  <td style="text-align:center;"> W{{wsd}} </td>
      <td style="text-align:center;"> {{ctx.WatershedLandUse|get:wsd|get:'UserDefined'}} </td>
  <td style="text-align:center;"><select name= BMP_4_{{wsd|twonum}}5  onChange=" UserBMP_{{wsd|twonum}}(); ">
                     <option value=0>Select
                     <option value=1 {% if ctx.WatershedLandUse|get:wsd|get:'UserDefined'|eq0 %} selected="selected"{% endif %}>No BMP
                     <option value=2>Combined BMPs-Calculated
                   </select>
  </td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=10 name= BMP_4_{{wsd|twonum}}6  value=100.0  onChange=" UserBMP_{{wsd|twonum}}(); "></td>
  </td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_4_{{wsd|twonum}}1  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_4_{{wsd|twonum}}2  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_4_{{wsd|twonum}}3  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_4_{{wsd|twonum}}4  value=0.0></td>
</tr>
{% endfor %}  
</table><br>

<!--Feedlot -->  
  <table border=1 style="width:870px; margin:0 auto">
    <tr>
      <td style="text-align:center;" colspan=8><div style="color:blue;">BMPs and efficiencies for different pollutants on <span style="font-weight:bold">FEEDLOT</span></div></td>
    </tr>
    <tr>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Watershed</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Avaliable Area</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">BMPs</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">% Area BMP Applied</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">N</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">P</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">BOD</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Sediment</td>
    </tr>
{% for wsd in ctx.rangeWSD %}     
<tr>
  <td style="text-align:center;"> W{{wsd}} </td>
      <td style="text-align:center;"> {{ctx.WatershedLandUse|get:wsd|get:'Feedlots'}} </td>
  <td style="text-align:center"><select name= BMP_5_{{wsd|twonum}}5  onChange=" FeedBMP_{{wsd|twonum}}(); ">
                     <option value=0>Select
                     <option value=1 {% if ctx.WatershedLandUse|get:wsd|get:'Feedlots'|eq0 %} selected="selected"{% endif %}>No BMP
                     <option value=2>Diversion
                     <option value=3>Filter strip
                     <option value=4>Runoff Mgmt System
                     <option value=5>Solids Separation Basin
                     <option value=6>Solids Separation Basin w/Infilt Bed
                     <option value=7>Terrace
                     <option value=8>Waste Mgmt System
                     <option value=9>Waste Storage Facility
                   </select>
  </td>
  <td style="text-align:center"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=10 name= BMP_5_{{wsd|twonum}}6  value=100.0  onChange=" FeedBMP_{{wsd|twonum}}(); "></td>
  </td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_5_{{wsd|twonum}}1  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_5_{{wsd|twonum}}2  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_5_{{wsd|twonum}}3  value=0.0></td>
  <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name= BMP_5_{{wsd|twonum}}4  value=0.0></td>
</tr>
{% endfor %} 
</table><br>

<!--Urban -->
<table style="width:870px; margin:0 auto" border=1>
  <tr>
    <td style="text-align:center;" colspan=12><div style="color:blue;">BMPs and efficiencies for different pollutants on <span style="font-weight:bold">Urban</span></div></td>
  </tr>
    <tr>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Watershed</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">BMPs</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Commercial</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Industrial</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Institutional</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Transportation</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Multi-Family</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Single-Family</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Urban-Cultivated</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Vacant (developed)</td>
      <td style="text-align:center; background-color:#BDBDBD; font-weight:bold">Open Space</td>
    </tr>
{% for wsd in ctx.rangeWSD %}     
  <tr>
    <td style="text-align:center;"> W{{wsd}} </td>
    <td style="text-align:center;"><input type=text style="text-align:right;border-width:0px;font-size:11pt" size=4 name=urBMP_{{wsd}} value="{% if ctx.WatershedLandUse|get:wsd|get:'Urban'|eq0 %} No BMP {%else%}Select BMP{% endif %}" readonly></td>
    {% for j in ctx.range9 %}
    <td align=center>
      <input type=text style="text-align:right;border-width:0px;font-size:11pt" size=5 name= UrbanBMP_1_0{{wsd|twonum}}{{j}}  value=0.0  onClick="javascript:window.open('./urbanBMP','UrbanBMP','status=0,toolbar=1,location=0,menubar=0,scrollbars=1,scrolling=1,height=600,width=980');"  >
    </td>
    {%endfor%}
  </tr>
  {% endfor %} 
  <tr>
    <td style="text-align:center" colspan=12>
    <input type=button style='width:200;height:30;cursor:hand' value='Set Urban BMPs' onClick="javascript:window.open('./urbanBMP','UrbanBMP','status=0,toolbar=1,location=0,menubar=0,scrollbars=1,scrolling=1,height=600,width=980');">
    </td>
  </tr>
</table><br><hr>

<!-- hidden data-->
<!--UrbnConc-->
<input type=hidden name=UrbnConc_11 value=2.0><input type=hidden name=UrbnConc_12 value=2.5><input type=hidden name=UrbnConc_13 value=1.8>
<input type=hidden name=UrbnConc_14 value=3.0><input type=hidden name=UrbnConc_15 value=2.2><input type=hidden name=UrbnConc_16 value=2.2>
<input type=hidden name=UrbnConc_17 value=1.9><input type=hidden name=UrbnConc_18 value=1.5><input type=hidden name=UrbnConc_19 value=1.5>
<input type=hidden name=UrbnConc_21 value=0.2><input type=hidden name=UrbnConc_22 value=0.4><input type=hidden name=UrbnConc_23 value=0.3>
<input type=hidden name=UrbnConc_24 value=0.5><input type=hidden name=UrbnConc_25 value=0.4><input type=hidden name=UrbnConc_26 value=0.4>
<input type=hidden name=UrbnConc_27 value=0.3><input type=hidden name=UrbnConc_28 value=0.2><input type=hidden name=UrbnConc_29 value=0.2>
<input type=hidden name=UrbnConc_31 value=9.3><input type=hidden name=UrbnConc_32 value=9.0><input type=hidden name=UrbnConc_33 value=7.8>
<input type=hidden name=UrbnConc_34 value=9.3><input type=hidden name=UrbnConc_35 value=10.0><input type=hidden name=UrbnConc_36 value=10.0>
<input type=hidden name=UrbnConc_37 value=4.0><input type=hidden name=UrbnConc_38 value=4.0><input type=hidden name=UrbnConc_39 value=4.0>
<input type=hidden name=UrbnConc_41 value=75.0><input type=hidden name=UrbnConc_42 value=120.0><input type=hidden name=UrbnConc_43 value=67.0>
<input type=hidden name=UrbnConc_44 value=150.0><input type=hidden name=UrbnConc_45 value=100.0><input type=hidden name=UrbnConc_46 value=100.0>
<input type=hidden name=UrbnConc_47 value=150.0><input type=hidden name=UrbnConc_48 value=70.0><input type=hidden name=UrbnConc_49 value=70.0>

<!-- BMP_k_0ij, i is watershd-->
<!--j: 9 distributions:Commercial  Industrial  Institutional Transportation  Multi-Family  Single-Family Urban-Cultivated  Vacant (developed)  Open Space-->
<!--# k: 5 chemicals: 1: area, 2: N, 3: P, 4: BOD, 5: TSS -> k ,-->
{% for k in ctx.range5 %}
{% for i in ctx.rangeWSD %}
{% for j in ctx.range9 %}
<input type=hidden size=4 name=UrbanBMP_{{k}}_{{i|twonum}}{{j}} value=0.0>
{%endfor%}
{%endfor%}
{%endfor%}

<div style="text-align:center"><br><input style="WIDTH:200;height:30;CURSOR:hand" type=button onClick="complete()" value="Next"><br><br></div>
</form>

<!-- the constant data that used to calculate BMP...TODO:It's better to saved and get from database-->
{% include "bmpList.html" %}

<form name=ubForm>
{% for wsd in ctx.rangeWSD %}
<input type=hidden name=ubArea_{{wsd|twonum}} value="{{ctx.WatershedLandUse|get:wsd|get:'Urban'}}" size=2>
{%endfor%}
</form>

<div style="text-align:center">
{% include "footer.html" %}

</div>

<script language="JavaScript">
function CropBMP_01() {
  var myRatio = document.bmpMain.BMP_1_016.value * 0.01 ;
  if ( document.bmpMain.BMP_1_015.selectedIndex == '0' ) {
    document.bmpMain.BMP_1_011.value = 0.0 ;
    document.bmpMain.BMP_1_012.value = 0.0 ;
    document.bmpMain.BMP_1_013.value = 0.0 ;
    document.bmpMain.BMP_1_014.value = 0.0 ;
  } else if ( document.bmpMain.BMP_1_015.selectedIndex == '1' ) {
    document.bmpMain.BMP_1_011.value = document.BMP_List.CROP_011.value * myRatio ;
    document.bmpMain.BMP_1_012.value = document.BMP_List.CROP_012.value * myRatio ;
    document.bmpMain.BMP_1_013.value = document.BMP_List.CROP_013.value * myRatio ;
    document.bmpMain.BMP_1_014.value = document.BMP_List.CROP_014.value * myRatio ;
  } else if ( document.bmpMain.BMP_1_015.selectedIndex == '2' ) {
    document.bmpMain.BMP_1_011.value = document.BMP_List.CROP_021.value * myRatio ;
    document.bmpMain.BMP_1_012.value = document.BMP_List.CROP_022.value * myRatio ;
    document.bmpMain.BMP_1_013.value = document.BMP_List.CROP_023.value * myRatio ;
    document.bmpMain.BMP_1_014.value = document.BMP_List.CROP_024.value * myRatio ;
  } else if ( document.bmpMain.BMP_1_015.selectedIndex == '3' ) {
    document.bmpMain.BMP_1_011.value = document.BMP_List.CROP_031.value * myRatio ;
    document.bmpMain.BMP_1_012.value = document.BMP_List.CROP_032.value * myRatio ;
    document.bmpMain.BMP_1_013.value = document.BMP_List.CROP_033.value * myRatio ;
    document.bmpMain.BMP_1_014.value = document.BMP_List.CROP_034.value * myRatio ;
  } else if ( document.bmpMain.BMP_1_015.selectedIndex == '4' ) {
    document.bmpMain.BMP_1_011.value = document.BMP_List.CROP_041.value * myRatio ;
    document.bmpMain.BMP_1_012.value = document.BMP_List.CROP_042.value * myRatio ;
    document.bmpMain.BMP_1_013.value = document.BMP_List.CROP_043.value * myRatio ;
    document.bmpMain.BMP_1_014.value = document.BMP_List.CROP_044.value * myRatio ;
  } else if ( document.bmpMain.BMP_1_015.selectedIndex == '5' ) {
    document.bmpMain.BMP_1_011.value = document.BMP_List.CROP_051.value * myRatio ;
    document.bmpMain.BMP_1_012.value = document.BMP_List.CROP_052.value * myRatio ;
    document.bmpMain.BMP_1_013.value = document.BMP_List.CROP_053.value * myRatio ;
    document.bmpMain.BMP_1_014.value = document.BMP_List.CROP_054.value * myRatio ;
  } else if ( document.bmpMain.BMP_1_015.selectedIndex == '6' ) {
    document.bmpMain.BMP_1_011.value = document.BMP_List.CROP_061.value * myRatio ;
    document.bmpMain.BMP_1_012.value = document.BMP_List.CROP_062.value * myRatio ;
    document.bmpMain.BMP_1_013.value = document.BMP_List.CROP_063.value * myRatio ;
    document.bmpMain.BMP_1_014.value = document.BMP_List.CROP_064.value * myRatio ;
  } else if ( document.bmpMain.BMP_1_015.selectedIndex == '7' ) {
    document.bmpMain.BMP_1_011.value = document.BMP_List.CROP_071.value * myRatio ;
    document.bmpMain.BMP_1_012.value = document.BMP_List.CROP_072.value * myRatio ;
    document.bmpMain.BMP_1_013.value = document.BMP_List.CROP_073.value * myRatio ;
    document.bmpMain.BMP_1_014.value = document.BMP_List.CROP_074.value * myRatio ;
  } else if ( document.bmpMain.BMP_1_015.selectedIndex == '8' ) {
    document.bmpMain.BMP_1_011.value = document.BMP_List.CROP_081.value * myRatio ;
    document.bmpMain.BMP_1_012.value = document.BMP_List.CROP_082.value * myRatio ;
    document.bmpMain.BMP_1_013.value = document.BMP_List.CROP_083.value * myRatio ;
    document.bmpMain.BMP_1_014.value = document.BMP_List.CROP_084.value * myRatio ;
  }
}
function PastBMP_01() {
  var myRatio = document.bmpMain.BMP_2_016.value * 0.01 ;
  if ( document.bmpMain.BMP_2_015.selectedIndex == '0' ) {
    document.bmpMain.BMP_2_011.value = 0.0 ;
    document.bmpMain.BMP_2_012.value = 0.0 ;
    document.bmpMain.BMP_2_013.value = 0.0 ;
    document.bmpMain.BMP_2_014.value = 0.0 ;
  } else if ( document.bmpMain.BMP_2_015.selectedIndex == '1' ) {
    document.bmpMain.BMP_2_011.value = document.BMP_List.PAST_011.value * myRatio ;
    document.bmpMain.BMP_2_012.value = document.BMP_List.PAST_012.value * myRatio ;
    document.bmpMain.BMP_2_013.value = document.BMP_List.PAST_013.value * myRatio ;
    document.bmpMain.BMP_2_014.value = document.BMP_List.PAST_014.value * myRatio ;
  } else if ( document.bmpMain.BMP_2_015.selectedIndex == '2' ) {
    document.bmpMain.BMP_2_011.value = document.BMP_List.PAST_021.value * myRatio ;
    document.bmpMain.BMP_2_012.value = document.BMP_List.PAST_022.value * myRatio ;
    document.bmpMain.BMP_2_013.value = document.BMP_List.PAST_023.value * myRatio ;
    document.bmpMain.BMP_2_014.value = document.BMP_List.PAST_024.value * myRatio ;
  } else if ( document.bmpMain.BMP_2_015.selectedIndex == '3' ) {
    document.bmpMain.BMP_2_011.value = document.BMP_List.PAST_031.value * myRatio ;
    document.bmpMain.BMP_2_012.value = document.BMP_List.PAST_032.value * myRatio ;
    document.bmpMain.BMP_2_013.value = document.BMP_List.PAST_033.value * myRatio ;
    document.bmpMain.BMP_2_014.value = document.BMP_List.PAST_034.value * myRatio ;
  }
}
function FrstBMP_01() {
  var myRatio = document.bmpMain.BMP_3_016.value * 0.01 ;
  if ( document.bmpMain.BMP_3_015.selectedIndex == '0' ) {
    document.bmpMain.BMP_3_011.value = 0.0 ;
    document.bmpMain.BMP_3_012.value = 0.0 ;
    document.bmpMain.BMP_3_013.value = 0.0 ;
    document.bmpMain.BMP_3_014.value = 0.0 ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '1' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_011.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_012.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_013.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_014.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '2' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_021.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_022.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_023.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_024.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '3' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_031.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_032.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_033.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_034.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '4' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_041.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_042.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_043.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_044.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '5' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_051.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_052.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_053.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_054.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '6' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_061.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_062.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_063.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_064.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '7' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_071.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_072.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_073.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_074.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '8' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_081.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_082.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_083.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_084.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '9' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_091.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_092.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_093.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_094.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '10' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_101.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_102.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_103.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_104.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '11' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_111.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_112.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_113.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_114.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '12' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_121.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_122.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_123.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_124.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '13' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_131.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_132.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_133.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_134.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '14' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_141.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_142.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_143.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_144.value * myRatio ;
  } else if ( document.bmpMain.BMP_3_015.selectedIndex == '15' ) {
    document.bmpMain.BMP_3_011.value = document.BMP_List.FRST_151.value * myRatio ;
    document.bmpMain.BMP_3_012.value = document.BMP_List.FRST_152.value * myRatio ;
    document.bmpMain.BMP_3_013.value = document.BMP_List.FRST_153.value * myRatio ;
    document.bmpMain.BMP_3_014.value = document.BMP_List.FRST_154.value * myRatio ;
  }
}
function UserBMP_01() {
  var myRatio = document.bmpMain.BMP_4_016.value * 0.01 ;
  if ( document.bmpMain.BMP_4_015.selectedIndex == '0' ) {
    document.bmpMain.BMP_4_011.value = 0.0 ;
    document.bmpMain.BMP_4_012.value = 0.0 ;
    document.bmpMain.BMP_4_013.value = 0.0 ;
    document.bmpMain.BMP_4_014.value = 0.0 ;
  } else if ( document.bmpMain.BMP_4_015.selectedIndex == '1' ) {
    document.bmpMain.BMP_4_011.value = document.BMP_List.USER_011.value * myRatio ;
    document.bmpMain.BMP_4_012.value = document.BMP_List.USER_012.value * myRatio ;
    document.bmpMain.BMP_4_013.value = document.BMP_List.USER_013.value * myRatio ;
    document.bmpMain.BMP_4_014.value = document.BMP_List.USER_014.value * myRatio ;
  } else if ( document.bmpMain.BMP_4_015.selectedIndex == '2' ) {
    document.bmpMain.BMP_4_011.value = document.BMP_List.USER_021.value * myRatio ;
    document.bmpMain.BMP_4_012.value = document.BMP_List.USER_022.value * myRatio ;
    document.bmpMain.BMP_4_013.value = document.BMP_List.USER_023.value * myRatio ;
    document.bmpMain.BMP_4_014.value = document.BMP_List.USER_024.value * myRatio ;
  }
}
function FeedBMP_01() {
  var myRatio = document.bmpMain.BMP_5_016.value * 0.01 ;
  if ( document.bmpMain.BMP_5_015.selectedIndex == '0' ) {
    document.bmpMain.BMP_5_011.value = 0.0 ;
    document.bmpMain.BMP_5_012.value = 0.0 ;
    document.bmpMain.BMP_5_013.value = 0.0 ;
    document.bmpMain.BMP_5_014.value = 0.0 ;
  } else if ( document.bmpMain.BMP_5_015.selectedIndex == '1' ) {
    document.bmpMain.BMP_5_011.value = document.BMP_List.FEED_011.value * myRatio ;
    document.bmpMain.BMP_5_012.value = document.BMP_List.FEED_012.value * myRatio ;
    document.bmpMain.BMP_5_013.value = document.BMP_List.FEED_013.value * myRatio ;
    document.bmpMain.BMP_5_014.value = document.BMP_List.FEED_014.value * myRatio ;
  } else if ( document.bmpMain.BMP_5_015.selectedIndex == '2' ) {
    document.bmpMain.BMP_5_011.value = document.BMP_List.FEED_021.value * myRatio ;
    document.bmpMain.BMP_5_012.value = document.BMP_List.FEED_022.value * myRatio ;
    document.bmpMain.BMP_5_013.value = document.BMP_List.FEED_023.value * myRatio ;
    document.bmpMain.BMP_5_014.value = document.BMP_List.FEED_024.value * myRatio ;
  } else if ( document.bmpMain.BMP_5_015.selectedIndex == '3' ) {
    document.bmpMain.BMP_5_011.value = document.BMP_List.FEED_031.value * myRatio ;
    document.bmpMain.BMP_5_012.value = document.BMP_List.FEED_032.value * myRatio ;
    document.bmpMain.BMP_5_013.value = document.BMP_List.FEED_033.value * myRatio ;
    document.bmpMain.BMP_5_014.value = document.BMP_List.FEED_034.value * myRatio ;
  } else if ( document.bmpMain.BMP_5_015.selectedIndex == '4' ) {
    document.bmpMain.BMP_5_011.value = document.BMP_List.FEED_041.value * myRatio ;
    document.bmpMain.BMP_5_012.value = document.BMP_List.FEED_042.value * myRatio ;
    document.bmpMain.BMP_5_013.value = document.BMP_List.FEED_043.value * myRatio ;
    document.bmpMain.BMP_5_014.value = document.BMP_List.FEED_044.value * myRatio ;
  } else if ( document.bmpMain.BMP_5_015.selectedIndex == '5' ) {
    document.bmpMain.BMP_5_011.value = document.BMP_List.FEED_051.value * myRatio ;
    document.bmpMain.BMP_5_012.value = document.BMP_List.FEED_052.value * myRatio ;
    document.bmpMain.BMP_5_013.value = document.BMP_List.FEED_053.value * myRatio ;
    document.bmpMain.BMP_5_014.value = document.BMP_List.FEED_054.value * myRatio ;
  } else if ( document.bmpMain.BMP_5_015.selectedIndex == '6' ) {
    document.bmpMain.BMP_5_011.value = document.BMP_List.FEED_061.value * myRatio ;
    document.bmpMain.BMP_5_012.value = document.BMP_List.FEED_062.value * myRatio ;
    document.bmpMain.BMP_5_013.value = document.BMP_List.FEED_063.value * myRatio ;
    document.bmpMain.BMP_5_014.value = document.BMP_List.FEED_064.value * myRatio ;
  } else if ( document.bmpMain.BMP_5_015.selectedIndex == '7' ) {
    document.bmpMain.BMP_5_011.value = document.BMP_List.FEED_071.value * myRatio ;
    document.bmpMain.BMP_5_012.value = document.BMP_List.FEED_072.value * myRatio ;
    document.bmpMain.BMP_5_013.value = document.BMP_List.FEED_073.value * myRatio ;
    document.bmpMain.BMP_5_014.value = document.BMP_List.FEED_074.value * myRatio ;
  } else if ( document.bmpMain.BMP_5_015.selectedIndex == '8' ) {
    document.bmpMain.BMP_5_011.value = document.BMP_List.FEED_081.value * myRatio ;
    document.bmpMain.BMP_5_012.value = document.BMP_List.FEED_082.value * myRatio ;
    document.bmpMain.BMP_5_013.value = document.BMP_List.FEED_083.value * myRatio ;
    document.bmpMain.BMP_5_014.value = document.BMP_List.FEED_084.value * myRatio ;
  } else if ( document.bmpMain.BMP_5_015.selectedIndex == '9' ) {
    document.bmpMain.BMP_5_011.value = document.BMP_List.FEED_091.value * myRatio ;
    document.bmpMain.BMP_5_012.value = document.BMP_List.FEED_092.value * myRatio ;
    document.bmpMain.BMP_5_013.value = document.BMP_List.FEED_093.value * myRatio ;
    document.bmpMain.BMP_5_014.value = document.BMP_List.FEED_094.value * myRatio ;
  }
}
function WetlBMP_01() {
  var myRatio = document.bmpMain.BMP_6_016.value * 0.01 ;
  if ( document.bmpMain.BMP_6_015.selectedIndex == '0' ) {
    document.bmpMain.BMP_6_011.value = 0.0 ;
    document.bmpMain.BMP_6_012.value = 0.0 ;
    document.bmpMain.BMP_6_013.value = 0.0 ;
    document.bmpMain.BMP_6_014.value = 0.0 ;
  } else if ( document.bmpMain.BMP_6_015.selectedIndex == '1' ) {
    document.bmpMain.BMP_6_011.value = document.BMP_List.WETL_011.value * myRatio ;
    document.bmpMain.BMP_6_012.value = document.BMP_List.WETL_012.value * myRatio ;
    document.bmpMain.BMP_6_013.value = document.BMP_List.WETL_013.value * myRatio ;
    document.bmpMain.BMP_6_014.value = document.BMP_List.WETL_014.value * myRatio ;
  } else if ( document.bmpMain.BMP_6_015.selectedIndex == '2' ) {
    document.bmpMain.BMP_6_011.value = document.BMP_List.WETL_021.value * myRatio ;
    document.bmpMain.BMP_6_012.value = document.BMP_List.WETL_022.value * myRatio ;
    document.bmpMain.BMP_6_013.value = document.BMP_List.WETL_023.value * myRatio ;
    document.bmpMain.BMP_6_014.value = document.BMP_List.WETL_024.value * myRatio ;
  }
}
function BMP_LDC() {
}
function complete() {   
 var flag = 0;
 if ( document.bmpMain.urBMP_1.value == "Select BMP" )
   alert( "Please select BMPs for Urban" ); 
 else if( ( document.bmpMain.BMP_1_015.value * 1 == 0 ) || ( document.bmpMain.BMP_2_015.value * 1 == 0 ) 
   || ( document.bmpMain.BMP_3_015.value * 1 == 0 ) || ( document.bmpMain.BMP_4_015.value * 1 == 0 ) 
   || ( document.bmpMain.BMP_5_015.value * 1  == 0 )  ) 
   alert( "Please select a BMP" ); 
 else 
    document.bmpMain.submit();
}   
</script>
</body>
</html>
