<hr>
<div style="font-size:0.82em">
  <div style="color:gray">
    Copyright © 2015, Purdue University and Kangwon National University, all rights reserved. <br>
    Purdue University is an equal access/equal opportunity university.<br>
  </div>
  Contact <a href="mailto:engelb@purdue.edu">Dr. Bernie Engel</a>
  or <a href="mailto:theller@purdue.edu">Larry Theller</a>
  for more details if you need any help with STEPL WEB. 
  <br>
  This implementation of the classic EPA model was designed by Dr. <a href="mailto:ysparkwithyou@gmail.com">Youn Shik Park</a>, Assistant Professor, Kongju National University, South-Korea.
  <br>
  Programmatic support from US EPA, Illinois-Indiana Sea Grant,  and US Army Corp of Engineers.
</div><br>