{% load simple_tags %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
  <title>STEPL WEB</title>
<script>
function done(){
  self.close();
}
</script>
</head>
<body> 
<form name=optMain><br>
  <hr> <div style = "color:blue; font-weight: bold;">Step 5. Select average soil hydrologic group (SHG), SHG A = highest infiltration and SHG D = lowest infiltration </div>
  <table style="border:1px solid black; margin: 0 auto;">
    <tr>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Watershed</td>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Soil N Conc. %</td>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Soil P Conc. %</td>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Soil BOD Conc. %</td>
    </tr>
    {% for idx in ctx.SoilDataInput %}
  <tr>
    <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">W {{ctx.SoilDataInput|get:idx|get:'watershd_id'}} </td>

      <td colspan="4" style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">

        <button onclick="javascript:window.open(
        '/stepl/item/SoilDataInput/{{ctx.SoilDataInput|get:idx|get:'id'}}/?s=1'
        ,'STEPL_DB_online_{{ele}}','status=0,toolbar=1,location=0,menubar=0,scrollbars=1,scrolling=1,height=400,width=300');"> update </button>

      </td>
 
  </tr>
	{% endfor %}

</table>
  <hr><div style = "color:blue; font-weight: bold;">Step 6. Reference runoff curve number</div>
  <table style="border:1px solid black; margin: 0 auto;">
    <tr>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Landuse</td>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">SHG A</td>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">SHG B</td>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">SHG C</td>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">SHG D</td>
    </tr>
    {% for idx in ctx.ReferenceRunoffInput %}
    <tr>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">{{ctx.ReferenceRunoffInput|get:idx|get:'Landuse'}} </td>
      <td colspan="4" style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">

        <button onclick="javascript:window.open(
        '/stepl/item/ReferenceRunoffInput/{{ctx.ReferenceRunoffInput|get:idx|get:'id'}}/?s=1'
        ,'STEPL_DB_online_{{ele}}','status=0,toolbar=1,location=0,menubar=0,scrollbars=1,scrolling=1,height=400,width=300');"> update </button>

      </td>
    </tr>
    {% endfor %}
    
  </table>
  <hr><div style = "color:blue; font-weight: bold;">Step 6a. Detailed urban reference runoff curve number</div>
  <table style="border:1px solid black; margin: 0 auto;">
    <tr>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Urban</td>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">SHG A</td>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">SHG B</td>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">SHG C</td>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">SHG D</td>
    </tr>
    {% for idx in ctx.DetailedRunoffInput %}
    <tr>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">
      {{ctx.DetailedRunoffInput|get:idx|get:'Urban'}}
      </td>
      <td colspan="4" style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">
        
         <button onclick="javascript:window.open(
        '/stepl/item/DetailedRunoffInput/{{ctx.DetailedRunoffInput|get:idx|get:'id'}}/?s=1'
        ,'STEPL_DB_online_{{ele}}','status=0,toolbar=1,location=0,menubar=0,scrollbars=1,scrolling=1,height=400,width=300');"> update </button>

      </td>
      
    </tr>
    {% endfor %}
  </table>
  <hr><div style = "color:blue; font-weight: bold;">7. Nutrient concentration in runoff (mg/l)</div>
  <table style="border:1px solid black; margin: 0 auto;">
    <tr>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Landuse</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">N</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">P</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">BOD</td>
        </tr>
        {% for idx in ctx.NutrientRunoffInput %}
        <tr>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">
            {{ctx.NutrientRunoffInput|get:idx|get:'Landuse'}}
          </td>
          <td colspan="3" style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">
            
            <button onclick="javascript:window.open(
        '/stepl/item/NutrientRunoffInput/{{ctx.NutrientRunoffInput|get:idx|get:'id'}}/?s=1'
        ,'STEPL_DB_online_{{ele}}','status=0,toolbar=1,location=0,menubar=0,scrollbars=1,scrolling=1,height=400,width=300');"> update </button>

          </td>
        </tr>
        {% endfor %}
  </table>
  <hr><div style = "color:blue; font-weight: bold;">7a. Nutrient concentration in shallow groundwater (mg/l)</div>
  <table style="border:1px solid black; margin: 0 auto;">
    <tr>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Landuse</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">N</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">P</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">BOD</td>
        </tr>
        {% for idx in ctx.NutrientGroundwaterRunoffInput %}
        <tr>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">
            {{ctx.NutrientGroundwaterRunoffInput|get:idx|get:'Landuse'}}
          </td>
          <td colspan="3" style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">
            
            <button onclick="javascript:window.open(
        '/stepl/item/NutrientGroundwaterRunoffInput/{{ctx.NutrientGroundwaterRunoffInput|get:idx|get:'id'}}/?s=1'
        ,'STEPL_DB_online_{{ele}}','status=0,toolbar=1,location=0,menubar=0,scrollbars=1,scrolling=1,height=400,width=300');"> update </button>

          </td>
        </tr>
        {% endfor %}
  </table>
  <hr><div style = "color:blue; font-weight: bold;">8. Input or modify urban land use distribution</div>
  <table style="border:1px solid black; margin: 0 auto;">
    <tr>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Watershed</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Urban Area (ac)</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Commercial %</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Industrial %</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Institutional %</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Transportation %</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Multi-Family %</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Single-Family %</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Urban-Cultivated %</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Vacant (developed) %</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Open Space %</td>
      <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Total % Area</td>
    </tr>
    {% for idx in ctx.LanduseDistributionInput %}
  <tr>
    <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">W {{ctx.LanduseDistributionInput|get:idx|get:'watershd_id'}} </td>
    <td colspan="11" style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">
      
      <button onclick="javascript:window.open(
        '/stepl/item/LanduseDistributionInput/{{ctx.LanduseDistributionInput|get:idx|get:'id'}}/?s=1'
        ,'STEPL_DB_online_{{ele}}','status=0,toolbar=1,location=0,menubar=0,scrollbars=1,scrolling=1,height=400,width=300');"> update </button>

    </td>

  </tr>
  {% endfor %}
  </table>
  <hr><div style = "color:blue; font-weight: bold;">9. Input irrigation area (ac) and irrigation amount (in)</div>
  <table style="border:1px solid black; margin: 0 auto;">
    <tr>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Watershed</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Total Cropland (ac)</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Cropland: Acres Irrigated</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Water Depth (in) per Irrigation - Before BMP</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Water Depth (in) per Irrigation - After BMP</td>
          <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">Irrigation Frequency (#/Year)</td>
        </tr>
     {% for idx in ctx.IrrigationInput %}   
  <tr>
    <td style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">W {{ctx.IrrigationInput|get:idx|get:'watershd_id'}} </td>
    <td colspan="5" style = "text-align:center; border-left: solid 1px black; border-top: solid 1px black; border-right: solid 1px black; border-bottom: solid 1px black;">
      
      <button onclick="javascript:window.open(
        '/stepl/item/IrrigationInput/{{ctx.IrrigationInput|get:idx|get:'id'}}/?s=1'
        ,'STEPL_DB_online_{{ele}}','status=0,toolbar=1,location=0,menubar=0,scrollbars=1,scrolling=1,height=400,width=300');"> update </button>

    </td>
  </tr>
  {% endfor %}
  </table>
  <br><br>
  <div style="text-align:center;" ><input style="WIDTH:200px;height:30px;CURSOR:hand" type=button value="Done" onClick="javascript:done()"></div><br><br>
</form>
</body>
</html>
