{% load staticfiles %}
{% load simple_tags %}

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"> 
  <title>Web-based STEPL</title>
<script>
function runTable1() {
 if (document.table1.numWSD.value*1.0 > 0 ) document.table1.submit(); 
}
function runBMP() {
 if (document.table1.numWSD.value*1.0 > 0 ) document.table2.submit(); 
}
</script>
</head>
<body>
{{ret}}
<br><img style="margin: 0 auto; display:block " src="{% static "STEPL_WEB_title.jpg" %}" alt=" " width=400><br>
<form name=main>
  <br><br>
  <table style="margin: 0px auto; width: 1100px" border=1>
  <tr>
    <td style="text-align:center; vertical-align:middle; font-weight:bold">
      Annual Loads Summary
<input type=button style='width:240;height:30;cursor:hand' value='Click to Download' onClick="javascript:window.open('{{img_prefix}}AnnualLoads.csv');">
<input type=button style="width:200;height:30;cursor:hand;float:center;" value="Print"
onClick="javascript:window.print();"></td> 
  </tr></table>
  <table style="margin: 0px auto; width: 1100px" border=1>
    <tr>
      <td width=80 align=center><b><font size=2 face="Times New Roman"> Watershed</td>
      <td width=85 align=center><b><font size=2 face="Times New Roman">N Load <br>(no BMP)<br>lbs/year</td>
      <td width=85 align=center><b><font size=2 face="Times New Roman">N Load <br>(with BMP)<br>lbs/year</td>
      <td width=85 align=center><b><font size=2 face="Times New Roman">  N Reduction<br>%</td>
      <td width=85 align=center><b><font size=2 face="Times New Roman">P Load <br>(no BMP)<br>lbs/year</td>
      <td width=85 align=center><b><font size=2 face="Times New Roman"> P Load <br>(with BMP)<br>lbs/year</td>
      <td width=85 align=center><b><font size=2 face="Times New Roman">P Reduction<br>%</td>
      <td width=85 align=center><b><font size=2 face="Times New Roman"> BOD Load <br>(no BMP)<br>lbs/year</td>
      <td width=85 align=center><b><font size=2 face="Times New Roman">BOD <br>(with BMP)<br>lbs/year</td>
      <td width=85 align=center><b><font size=2 face="Times New Roman">BOD Reduction<br>%</td>
      <td width=85 align=center><b><font size=2 face="Times New Roman">S Load <br>(no BMP)<br>tons/year</td>
      <td width=85 align=center><b><font size=2 face="Times New Roman">S Load <br>(with BMP)<br>tons/year</td>
      <td width=85 align=center><b><font size=2 face="Times New Roman">S Reduction<br>%
</td>
    </tr>
    {% for row in run1ret %} 
      <tr>
        {% for idx in clmArr %} 
          <td>
          {{ row|get:idx }}
          </td>
        {%endfor%}
      </tr>
    {% endfor %}
  </table>
<br><hr><br>
<table  style="margin: 0px auto;" border=1>
  <tr>
    <td style="text-align:center; vertical-align:middle;" colspan=2>Graphs</td>
  </tr>
  <tr>
    <td style="text-align:center; vertical-align:middle;"> <img src="{{img_prefix}}N_bar.jpg" width=400> </td>
    <td style="text-align:center; vertical-align:middle;"> <img src="{{img_prefix}}P_bar.jpg" width=400> </td>
  </tr>
  <tr>
    <td style="text-align:center; vertical-align:middle;"> <img src="{{img_prefix}}B_bar.jpg" width=400> </td>
    <td style="text-align:center; vertical-align:middle;"> <img src="{{img_prefix}}S_bar.jpg" width=400> </td>
  </tr>
</table><br><hr><br>
</form>

<div style="text-align:center; font-size:0.82em; color:grey"><hr>
    Copyright &copy; 2015, Purdue University and Kangwon National University, all rights reserved. <br>
    Purdue University is an equal access/equal opportunity university.<br>
  Contact <a href=mailto:engelb@purdue.edu>Dr. Bernie Engel</a>
  or <a href=mailto:theller@purdue.edu>Larry Theller</a> for more details if you need any help with STEPL WEB. 
  <br>
  This implementation of the classic EPA model was designed by Dr. <a href=mailto:ysparkwithyou@gmail.com>Youn Shik Park</a>, Assistant Professor, Kongju National University, South-Korea.
  <br>Programmatic support from US EPA, Illinois-Indiana Sea Grant,  and US Army Corp of Engineers.
</div><br>
<a href="./tmp/20151028113637911721_2694/sim_001/myRST.csv" target=new><span style="color:white">.</span></a>

</body>
</html>
