<html>
<body>

<table border="1">
    <tr>
        <td>SessionId</td><td>CreateTime</td><td>HUC</td><td>ReRunClick</td>
    </tr>
    
    {% for ss in ctx %}
    <tr>
        <td> {{ss.session_id}} </td> <td> {{ss.create_time}} </td> <td>{{ss.hucid}} </td><td> <a href="/stepl/rerunStep1?session_id={{ss.session_id}}" target="_blank">Link</a> </td>
    </tr>    
    {% endfor %}
    
</table>


<br/>
<br/>
<br/>
<a href="/stepl/logout" target="_blank">Logout</a> <br/>
<a href="http://buckeye.agriculture.purdue.edu/admin/" target="_blank">ViewData</a> <br/>


</body>
</html>